<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <title>信息与技术交流论坛</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/personal_center.css}">
    </head>
    <body>
        <!-- 顶部导航条 -->
        <div th:insert="~{common::topbar}"></div>
        
        <!--首页展示图片-->
        <div id="img_1"></div>

        <div th:insert="~{common::person}"></div>


        <!--其他信息（帖子）-->
        <div class="other">
            <!--小导航条-->
            <div th:insert="~{common::middlebar}"></div>

            <!--评论-->
            <div class="other_information_1" th:each="userMsg:${session.userMsg}">
                    <span>
                        <img class="other_1_img" th:if="${userMsg.getUserAvatar()}==null"
                             th:src="@{/images/head_portrait.jpg}">
                        <img  class="other_1_img" th:if="${userMsg.getUserAvatar()}!=null"
                                  th:src="'/upload/'+${userMsg.getUserAvatar()}">
                    </span>
                    <span class="main_context">
                            <h1><a th:text="${userMsg.username}" style="color: cornflowerblue">B </a> 留言了
                                <a style="color: cornflowerblue">你</a></h1>
                            <h3><a
                                    th:href="@{/show/{id}(id=${userMsg.comment.getArticleId()})}">帖子标题：[[${userMsg.parentUsername}]]
                            </a></h3>
                            <p th:text="${userMsg.comment.getCommentContent()}">加油！</p>
                        </span>
                    <span class="other_context">
                            <div class="update_delete">
                                <a id="button_3"
                                   th:onclick="replyShow([[${userMsg.comment.getCommentId()}]])">回复</a>
                                <a id="button_4" th:href="@{/show/{id}(id=${userMsg.comment.getArticleId()})}">查看</a>
                            </div>
                            <div class="date">
                                <p>留言时间：</p>
                                <p th:text="${#dates.format(userMsg.comment.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}">
                                </p>
                            </div>
                    </span>
                    <!--回复编写区-->
                    <div th:id="${userMsg.comment.getCommentId()}" class="writeBox">
                        <form th:action="@{/reply}" method="post">
                            <input type="text" id="your_reply" name="commentContent" placeholder="在这里回复TA...">
                            <input type="hidden" name="articleId" th:value="${userMsg.comment.getArticleId()}">
                            <!--用户回复别人评论时，那个评论的父id是用户id，此时作为发起评论的userId-->
                            <input type="hidden" name="userId" th:value="${userMsg.comment.getUserIdParent()}">
                            <input type="hidden" name="createTime" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}">
                            <input type="hidden" name="userIdParent" th:value="${userMsg.comment.getUserId()}">

                            <input type="submit" id="reply_submit" value="确定">
                        </form>
                    </div>
            </div>

        </div>

        <script type="text/javascript" th:src="@{/js/personal_center.js}"></script>

            <!--页脚-->
        <div class="footer">
            <p>联系我们：xxxxxxxxxxx@qq.com</p>
        </div>
    </body>
</html>