<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'>
        <title>信息与技术交流论坛--注册</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
    </head>
    <body>
        <div class="register">
            <div class="register_top">
                <h1>注册</h1>
            </div>
            <div class="register_center">
                <form id="registerForm" th:action="@{/user/register}" method="post">
                    <input type="text" id="username" name="username" placeholder="用户名"><br>
                    <input type="password" id="password" name="password" placeholder="密码"><br>
                    <input type="password" id="password_again" name="password_again" placeholder="确认密码"><br>
                    <input type="email" id="email" name="email" placeholder="邮箱"><br>
                    <input type="hidden" name="createTime"
                           th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}">
<!--                    <input type="tel" id="verificationCode" name="verificationCode" placeholder="验证码">-->
<!--                    <input type="submit" id="get_code" value="发送验证码">-->
                    <!--按钮：去注册、登录、取消-->
                    <p style="color: red" th:text="${msg}"></p>
                    <div class="register_button">
                        已有账号？<a id="login_btn" th:href="@{/login.html}">去登录</a><br>
                        <button id="register_btn">立即注册</button><br>
                        <button id="cancel_btn">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>